body, html {
  height: 100vh;
}


.flex-col{
  background-image: linear-gradient(to right, #000000 , #E84393);
    
      /* Full height */
      height: fit-content; 
      padding: 3px;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}
